@tailwind base;
@tailwind components;
@tailwind utilities;

.front-cover{
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,07)), url('/images/lady.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
}